* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    font-family: 'Volkhov', serif;
    padding: 0 24px 24px 24px;
}




/* search */

.flex {
  display: flex;
  align-items: center;
  justify-content: center; 

}

.form-control{
    display: flex;
}

.text {
  font-weight: 400;
  opacity: 0.9;
  line-height: 1.6;
  letter-spacing: 1px;
}
.header-title h1 {
  color: white;
}




@keyframes bounce-in-top {
  0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
  }

  38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
  }

  55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;

  }

  72% {
      transform: translateY(0px);
      animation-timing-function: ease-in;
  }

  81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
  }

  90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
  }

  95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
  }

  100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
  }

}


/* ------------------------------------------- */

.text {
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
  }
  
  header {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
  
  } 
 
  
  

form button{
    background: tomato;
    height: 40px;
    width: 40px;
    border: 1px;
    border-radius: 50%;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
} 

.header-form {
  /* background-image: url(""); */
  background-color: #4CAF50;
  padding: 2rem;
  border-radius: 12px;
  margin-top: 20px;

}

.header-form h3 {
  font-size: 25px;
  color: white;
}


.header-form form .form-control {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(8, 7, 7, 0.74);
}

.header-form form {
    display: flex;
}




.header-form input[type="text"] {
  outline: none;
  border-radius: 8px;;
}

.form-control {
  width: 100%;
  margin: 0.6rem 0;
  max-width: 500px;
  border: 1px solid #fff;
  border-radius: 0.2rem;
  padding: 0.7rem;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
}
#searchResults{
  width: 100%;
  height: 300px;
}
/* destination */

/* .destination{
    display: flex;
} */
.title01{
    text-align: center;
}
.row-destination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    
}
.item-destination {
    flex-basis: calc(22%);
    background-color: #E7F4F6;
    margin:10px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3)
    ;
    cursor: pointer;
    transition: transform 0.5s;
}
.item-destination > div{
     padding:  0 8px 10px 8px;
}
.item-destination:hover{
    transform: translateY(-10px);
}

.item-destination01 {
    flex-basis: calc(25%);
    margin-bottom: 30px;
}
.img-destination{
    border-radius: 12px;
    height:230px ;
    width: 100% ;
}


.title-destination{
    font-size: 14px;
}
  
  @media only screen and (max-width: 769px)  {
    .row-destination {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .item-destination {
      flex-basis: calc(40%);
      margin-bottom: 30px;
    }
  }
  
  @media only screen and (max-width:439px) {
    .row-destination {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .item-destination {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  }

/* Page */
.page-btn {
  margin: 0 auto 80px;
  text-align: center;

}
.page-btn ul li{
  display: inline-block;
  border: 1px solid #4e1bbb;
  margin-left:10px;
  width:40px;
  height:40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 2px;

}


.page-btn li:hover{
  background: #160572;
  color: #fff;

}
/* them */
#foot{
    /* display: flex; */
    margin-bottom: 15px;
}
/* #foot>.booked {
    margin-right: 200px;
} */
#item {
    margin: 20px;
    font-size: 18px;
}
.booked{
    display: flex;
}
.booked i{
    color: orangered;
}
.booked i p{
    color:black
}

.name-destination, .title-destination{
    margin:12px 0;
}
.read-more{
    text-align: right;
}