* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Volkhov', serif;
    padding: 0 24px 24px 24px;
}


.header-navbar {
    background-color: #E7F4F6;
    position: relative;

}

.navbar {
    width: 100%;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}


.header-navbar .navbar .links li a {
    text-decoration: none;
    color: black;
}

.header-navbar .navbar .links li a:hover {
    color: orangered;
}

.header-navbar .navbar .links li {
    display: inline-block;
    margin-right: 20px;

}

.header-navbar .navbar .links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    margin: auto;
    display: flex;
    transition: 0.5s;
}

.header-navbar .navbar .links li:hover::after {
    width: 100%;
}





.user-pic {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: -4%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

}


.sub-menu-wrap.open-profile {
    max-height: 400px;

}

.sub-menu {
    background-color: #E7F4F6;
    padding: 10px;
    margin: 10px 50px;
    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;

}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
}


.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 18px 0;

}

.sub-menu-links p {
    width: 100%;
}

.sub-menu-links .fa {

    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px 10px;
    margin-right: 15px;
}




.sub-menu-links span {
    font-size: 22px;
    transition: transform 0.5s;


}

.sub-menu-links:hover span {
    transform: translateX(5px);
}


.sub-menu-links:hover p {
    font-weight: 600;
}

.sub-menu-links:hover {
    color: orangered;
}


.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 0rem;
    ;
    top: 70px;
    width: 180px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* backdrop-filter: blur(15px); */
    background-color: #2E487A;
    overflow: hidden;
    border-radius: 8px;
    height: 0;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
}

.dropdown_menu.open {
    height: 206px;
}


.dropdown_menu li a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.dropdown_menu li a:hover {
    color: orangered;
}

.dropdown_menu li {
    padding: 0.6rem 0.2rem;

    justify-content: center;
    list-style-type: none;

}

.dropdown_menu li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.dropdown_menu li:hover::after {
    width: 100%;
}



/* responsive menu */
@media only screen and (min-width: 578px) and (max-width:992px) {
    .logo img {
        width: 100px;
    }

    .navbar {
        min-height: 8vh;
    }

    .navbar .links {
        font-size: 14px;
        justify-content: space-around;

    }

    .header-navbar .navbar .links li {
        margin-right: 0px;
    }

    .sub-menu-wrap {
        font-size: 15px;
    }

    .user-pic {
        width: 50px;
    }

  
}

@media only screen and (max-width:576px) {

    html,
    body {
       
        padding: 0 12px 12px 12px;
    }

    .dropdown_menu {
        left: 0;
        /* width: unset; */
    }
    .dropdown_menu.open {
        height: 30vh;
        top: 80px;
    }
    .navbar .toggle_btn {
        display: block;

    }

    .header-navbar .navbar .links {
        display: none;
    }

    .dropdown_menu {
        display: block;

    }

    .sub-menu-wrap {
        width: 300px;
        font-size: 14px;
        
        right: -50px;
    }

    .logo img {
        width: 94px;
        position: absolute;
        top: 16px;
        left: 128px;
    }

    .user-pic {
        position: absolute;
        top: 15px;
        right: 10px;
    }
}


/* foootttteeeer */

.footer {
    background: #2E487A;
    color: #f5f5f5;
    font-size: 14px;
    padding: 24px 0 18px;

}

.row {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer p {
    color: #f5f5f5;
    margin-left: 0px;
    ;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;

}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1 {
    flex-basis: 30%;
    padding-left: 3%;
}

.footer-col-1 img {
    width: 100px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
    padding-right: 10px;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;

}

.footer-col-2 input {
    width: 90%;
    outline: none;
    padding: 15px 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.footer-col-2 input[type="submit"] {
    background-color: #226FB7;
    color: #fff;
    font-weight: 500;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    padding-left: 3%;

}

.footer h3 {
    font-size: 20px;
}

.footer-col-4 i {
    margin-right: 15px;
}

.footer-col-3 ul,
.footer-col-4 ul {
    list-style-type: none;
}

.footer-col-3 ul li,
.footer-col-4 ul li {
    margin-top: 5px;
}



.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 130px;

}

.footer hr {
    border: none;
    background: #ffffff;
    height: 1px;
    margin: 20px 0;

}

.copyright {
    text-align: center;

}

.fa-copyright {
    margin: 0 3px;
    color: red;
}